<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/public/main.css">
		<link rel="stylesheet" href="/public/mobile.css" media="only screen and (max-width: 500px)">
		<title><!--TITLE--></title>
		<!--HEAD-->
	</head>
	<body>
		<svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
				id="navbar-button" style="background:var(--button-color2); border-radius: 0.5rem;">
			<path d="M4 18L20 18" stroke="var(--background-color)" stroke-linecap="round" stroke-width="3"/>
			<path d="M4 12L20 12" stroke="var(--background-color)" stroke-linecap="round" stroke-width="3"/>
			<path d="M4 6L20 6" stroke="var(--background-color)" stroke-linecap="round" stroke-width="3"/>
		</svg>
		<div id="navbar">
			<span>Home</span>
			<span>About</span>
			<span>Contact</span>

			<img src="/public/meiket.png" style="height:3rem; float:right;">
		</div>
		<!--BODY-->
		<script>
			const navbar = document.getElementById("navbar");
			document.getElementById("navbar-button").onclick = e => {
				navbar.style.left="0";
				e.stopPropagation();
			};
			document.body.addEventListener("click", e => {
				navbar.style.left="-100%";
			});
		</script>
	</body>
</html>