<!--BODY-->
<div style="
		font-size: 3rem;
		text-align: center;
		margin-bottom: 1rem;
		display: inline-block;
		width: 100%;">
	Welcome to <img src="/public/meiket.png" style="
			display:inline-block;
			height:3rem;
			vertical-align: -5%;">!
		</div>
<div>Meiket is a place to create, share, and play in VR spaces. Built on the web so any VR device can access it, Meiket revolutionizes how people share VR experiences. It's a platform made with developers in mind, with built-in tools to create both in and out of VR. And because it can be accessed through a web browser, you can share these experiences - both creating and playing - with anyone you want.</div>

<a href="/play">temp play button - this will be accessible through the user's profile</a>