<!--TITLE-->play
<!--HEAD-->
<link rel="stylesheet" href="/public/board.css" type="text/css">
<!--BODY-->
<div id="board" style="
		width:min(calc(70% + 5rem), 90%);
		height:80vh;
		background-color:#444;
		margin:1rem auto;
		position:relative;
		overflow:hidden;
		--offsetX: 10;
		--offsetY: 10;">
	<span style="
			position:absolute;
			right:0;
			z-index:4;
			margin:0.6rem 0.5rem;
			padding:0.3rem 0.8rem;
			background-color: #0009;
			border-radius: 1rem;
			outline:0.2rem solid #fff;
			color:#fff;" id="score-element"></span>
	</div>
<script type="module">
	const conn = new WebSocket(`ws${window.location.hostname=="localhost"?"":"s"}://${window.location.host}/websocket`);
	await new Promise(r=>{
		if(conn.readyState==1) r();
		else conn.addEventListener("open", r);
	});

	//--

	const board = document.getElementById("board");
	let boardOffset={x:0,y:0};
	const boardOverlay = board.children[0];

	const MIN_DRAG_DIST=10;
	let mouseDown=false;
	let dragging=false;
	let startPos={x:0,y:0};
	board.addEventListener("mousedown", e => {
		mouseDown=true;
		startPos = {
			x:e.clientX-board.offsetLeft,
			y:e.clientY-board.offsetTop
		};
	});
	board.addEventListener("mouseup", e =>{
		boardOffset={
			x:parseFloat(getComputedStyle(board).getPropertyValue("--offsetX")),
			y:parseFloat(getComputedStyle(board).getPropertyValue("--offsetY"))
		};
		if(!dragging){
			let inst = e.srcElement.infinisweeper_cell;
			if(!inst) inst = e.srcElement.parentNode.infinisweeper_cell;
			if(inst){
				if(e.button==0){
					if(!inst.revealed) inst.click(true);
					else inst.tryChord();
				}else if(e.button==2){
					inst.tryFlag();
				}
			}
		}
		mouseDown=false;
		dragging=false;
	});
	board.addEventListener("contextmenu", e=>e.preventDefault());
	board.addEventListener("mouseout", e => {
		try{
			if(e.srcElement.classList.contains("cell")) return;
			if(e.srcElement.classList.contains("chunk")) return;
			if(e.srcElement.id=="board") return;
		}catch(e){}

		boardOffset={
			x:parseFloat(getComputedStyle(board).getPropertyValue("--offsetX")),
			y:parseFloat(getComputedStyle(board).getPropertyValue("--offsetY"))
		};
		mouseDown=false;
		dragging=false;
	});
	function recalcBoards(xOffs=0,yOffs=0){
		let styles = getComputedStyle(board);
		let chunkSize=(parseFloat(styles.getPropertyValue("--scale"))*parseFloat(styles["font-size"])*16)||512;
		let chunksToLoad=[];

		for(let y=-Math.floor(yOffs/chunkSize)-1;y<-Math.floor((yOffs-parseFloat(styles.height))/chunkSize);y++)
			for(let x=-Math.floor(xOffs/chunkSize)-1;x<-Math.floor((xOffs-parseFloat(styles.width))/chunkSize);x++)
				chunksToLoad.push({x,y});
		for(const chunkData of Object.values(chunks)){
			if(!chunksToLoad.some(pos=>chunkData.x==pos.x&&chunkData.y==pos.y)){
				chunkData.unloadElement();
			}
		}
		for(const chunkPos of chunksToLoad){
			getChunk(chunkPos.x,chunkPos.y).loadInElement();
		}
	}
	board.addEventListener("mousemove", e => {
		if(!mouseDown) return;
		if(!dragging&&Math.sqrt((startPos.x-(e.clientX-board.offsetLeft))**2+
			(startPos.y-(e.clientY-board.offsetTop))**2)<MIN_DRAG_DIST) return;
		if(!dragging){
			startPos = {
				x:e.clientX-board.offsetLeft,
				y:e.clientY-board.offsetTop
			};
		}
		dragging=true;

		let xOffs=boardOffset.x+e.clientX-board.offsetLeft-startPos.x;
		let yOffs=boardOffset.y+e.clientY-board.offsetTop-startPos.y;
		board.style.setProperty("--offsetX", xOffs);
		board.style.setProperty("--offsetY", yOffs);

		recalcBoards(xOffs,yOffs);
	});

	function getMine(){
		let toReturn = document.createElement("img");
		toReturn.src="/public/mine.svg";
		toReturn.classList.add("icon");
		return toReturn;
	}
	function getFlag(){
		let toReturn = document.createElement("img");
		toReturn.src="/public/flag.svg";
		toReturn.classList.add("icon");
		return toReturn;
	}

	const earlyRunnables=[];
	const earlyRunnableIDs=[];
	let finishingEarly=false;
	function earlyRunnable(func,time){
		if(!finishingEarly){
			earlyRunnableIDs.push(setTimeout(()=>{
				if(!finishingEarly) func();
			},time));
		}else func();
	}
	function finishEarly(){
		if(finishingEarly) return;

		finishingEarly=true;
		for(const id of earlyRunnableIDs) clearTimeout(id);
		for(let i=0;i<earlyRunnables.length;i++) earlyRunnables[i]();
		finishingEarly=false;
		earlyRunnables.length=0;
	}
	class Cell{
		constructor(isMine, chunk, x, y){
			this.isMine=isMine;
			this.chunk=chunk;
			this.x=x;
			this.y=y;
			this.revealed=false;
			this.flagged=false;
			this.canTurnOver=true;
		}
		set revealed(bool){
			this._revealed=bool;
			if(this.element) this._updateVisual();
		}
		get revealed(){ return this._revealed; }
		set flagged(bool){
			this._flagged=bool;
			if(this.element) this._updateVisual();
		}
		get flagged(){ return this._flagged; }
		async _updateVisual(){
			this.element.innerHTML="";
			this.element.classList.remove("revealed");

			if(this.revealed||this.element.classList.contains("exploded")){
				this.element.classList.add("revealed");
				if(this.isMine){
					this.element.appendChild(getMine());
				}else{
					await this._updateCount();
					this.element.append(this.count==0?"":this.count);
				}
			}else if(this.flagged){
				this.element.appendChild(getFlag());
			}
		}

		async _updateCount(){
			if(this.count!==undefined) return;
			let count=0;
			for(let y=-1;y<=1;y++){
				for(let x=-1;x<=1;x++){
					if((await this.offset(x,y)).isMine) count++;
				}
			}
			this.count=count;
		}
		getElement(){
			if(this.element) return this.element;

			this.element = document.createElement("div");
			this.element.classList.add("cell");
			this.element.style.setProperty("--x", this.x);
			this.element.style.setProperty("--y", this.y);
			this.element.style.setProperty("--colorIndex", (this.x%2+this.y%2)%2);
			this._updateVisual();

			this.element.infinisweeper_cell=this;

			return this.element;
		}
		unloadElement(){
			if(!this.element) return;
			this.element.remove();
			this.element=undefined;
		}

		async serverClick(isDirect){
			if(this.revealed||this.flagged) return;

			this.revealed=true;
			if(isDirect){
				finishEarly();
			}
			/*
			if(this.isMine){
				boardOverlay.innerHTML = `<span style="
						display: inline-block;
						position: relative;
						top: calc(50%);
						transform: translateY(-50%);
						background-color: #333;
						padding: 1rem 2rem;
						border-radius: 1rem;
						outline: 0.3rem solid #555;">
					You hit a mine!<br>
					Final score: ${Math.round(score*100)/100}<br>
					<span id="play-again">Play Again</span></span>`;
				document.getElementById("play-again").addEventListener("click", ()=>{
					finishEarly();

					if(this.element) this.element.classList.add("exploded");
					this.revealed=false;

					earlyRunnable(()=>{
						this._revealed=false;
						this._flagged=false;
						if(this.element){
							this.element.classList.remove("exploded");
							this._updateVisual();
						}
						restart();
					},280)
				});
				this.canTurnOver=false;
				this.turnOver();

				boardOverlay.style.opacity=1;
				boardOverlay.style["pointer-events"]="auto";
				return;
			}
			*/

			await this._updateCount();
			if(this.count==0){
				let toClick = [];
				let resolve;
				let addCell=new Promise(r=>resolve=r);
				earlyRunnable(async ()=>{
					let counter=9;
					for(const cell of toClick){
						cell.serverClick(false);
						counter--;
					}
					while(counter>0){
						(await addCell).serverClick(false);
						counter--;
					}
				},30);
				for(let y=-1;y<=1;y++){
					for(let x=-1;x<=1;x++){
						let newCell=await this.offset(x,y);
						toClick.push(newCell);
						resolve(newCell);
						addCell=new Promise(r=>resolve=r);
					}
				}
			}
		}
		click(){
			if(this.revealed) return;
			send("click", {x:this.x, y:this.y, cx:this.chunk.x, cy:this.chunk.y});
		}
		tryFlag(){
			if(this.revealed) return;
			send("flag", {x:this.x, y:this.y, cx:this.chunk.x, cy:this.chunk.y});
		}
		async tryChord(){
			let flaggedCount=0;
			for(let y=-1;y<=1;y++){
				for(let x=-1;x<=1;x++){
					if((await this.offset(x,y)).flagged) flaggedCount++;
				}
			}

			this._updateCount();
			if(flaggedCount==this.count){
				for(let y=-1;y<=1;y++){
					for(let x=-1;x<=1;x++){
						if(!(await this.offset(x,y)).revealed&&!(await this.offset(x,y)).flagged){
							send("click", {x:(this.x+x+16)%16, y:(this.y+y+16)%16, 
								cx:this.chunk.x+Math.floor((this.x+x)/16), cy:this.chunk.y+Math.floor((this.y+y)/16)});
						}
					}
				}
			}
		}

		//these need to await
		async left(){
			if(this.x==0) return (await waitForChunk(getChunk(this.chunk.x-1,this.chunk.y))).cells[this.y][15];
			return this.chunk.cells[this.y][this.x-1];
		}
		async right(){
			if(this.x==15) return (await waitForChunk(getChunk(this.chunk.x+1,this.chunk.y))).cells[this.y][0];
			return this.chunk.cells[this.y][this.x+1];
		}
		async up(){
			if(this.y==0) return (await waitForChunk(getChunk(this.chunk.x,this.chunk.y-1))).cells[15][this.x];
			return this.chunk.cells[this.y-1][this.x];
		}
		async down(){
			if(this.y==15) return (await waitForChunk(getChunk(this.chunk.x,this.chunk.y+1))).cells[0][this.x];
			return this.chunk.cells[this.y+1][this.x];
		}
		async offset(x,y){
			let currCell=this;
			while(x>0){
				currCell=await currCell.right();
				x--;
			}
			while(x<0){
				currCell=await currCell.left();
				x++;
			}
			while(y>0){
				currCell=await currCell.down();
				y--;
			}
			while(y<0){
				currCell=await currCell.up();
				y++;
			}
			return currCell;
		}

		turnOver(){
			if(!this.revealed) return;
			if(this.element&&this.canTurnOver) this.element.classList.add("exploded");
			if(this.canTurnOver) this.revealed=false;

			earlyRunnable(()=>{
				this._revealed=false;
				this._flagged=false;
				if(this.element){
					this.element.classList.remove("exploded");
					this._updateVisual();
				}
			},280);
		}
	}

	class Chunk{
		constructor(x, y){
			this.x=x;
			this.y=y;

			this.cells=[];
			for(let y=0;y<16;y++){
				this.cells[y]=[];
				for(let x=0;x<16;x++){
					this.cells[y][x]=undefined;
				}
			}

			this.loaded=false;
			let resolve;
			this.loadedPromise = new Promise(r=>resolve=r);
			(async()=>{
				this._updateVisual();
				const cellData = await sendWithResponse("chunk", {x:this.x, y:this.y});
				for(let y=0;y<16;y++){
					this.cells[y]=[];
					for(let x=0;x<16;x++){
						const thisCell = cellData.map[y*16+x];
						let toPut = new Cell(thisCell&0b001, this, x, y);
						if(thisCell&0b010) toPut.revealed=true;
						if(thisCell&0b100) toPut.flagged=true;
						this.cells[y][x]=toPut;
					}
				}
				this.loaded=true;
				resolve();
				this._updateVisual();
			})();
		}

		_updateVisual(){
			if(!this.element){
				this.element = document.createElement("div");
				this.element.classList.add("chunk");
				this.element.style.setProperty("--x", this.x);
				this.element.style.setProperty("--y", this.y);
			}

			this.element.replaceChildren();
			if(this.loaded){
				this.element.classList.remove("loading");
				for(let y=0;y<16;y++){
					for(let x=0;x<16;x++){
						this.element.appendChild(this.cells[y][x].getElement());
					}
				}
			}else{
				this.element.classList.add("loading");

			}
		}
		loadInElement(){
			if(this.element&&this.element.parentElement) return;

			this._updateVisual();

			board.appendChild(this.element);
		}
		unloadElement(){
			for(let y=0;y<16;y++)
				for(let x=0;x<16;x++)
					if(this.cells[y][x]) this.cells[y][x].unloadElement();
			if(!this.element) return;
			this.element.remove();
			this.element=undefined;
		}
	}

	//--

	const scoreElement = document.getElementById("score-element");
	let score=0;

	const _waitingMessages={};
	let currID=0;
	function send(channel, data){
		conn.send(JSON.stringify({channel, data}));
	}
	async function sendWithResponse(channel, data){
		let thisID=currID+1;
		currID=(currID+1)%1000;
		conn.send(JSON.stringify({channel, data, id:thisID}));

		let resolve;
		const toAwait = new Promise(r=>resolve=r);
		_waitingMessages[thisID]=resolve;

		const toReturn = await toAwait;
		delete _waitingMessages[thisID];
		return toReturn;
	}
	conn.addEventListener("message", async e=>{
		const message = JSON.parse(e.data);
		if(message.id!==undefined){
			if(_waitingMessages[message.id]) _waitingMessages[message.id](message.data);
		}else{
			switch(message.channel){
				case "click":{
					let chunk = await waitForChunk(getChunk(message.data.cx, message.data.cy));
					chunk.cells[message.data.y][message.data.x].serverClick();
				}break;
				case "flag":{
					let chunk = await waitForChunk(getChunk(message.data.cx, message.data.cy));
					chunk.cells[message.data.y][message.data.x].flagged=message.data.flag;
				}break;
				case "explode":{
					let centerCell=(await waitForChunk(getChunk(message.data.cx, message.data.cy)))
						.cells[message.data.y][message.data.x];

					//some graphic
				}break;
				case "loadchunk":{
					let chunk = await waitForChunk(getChunk(message.data.x, message.data.y));
					chunk.unloadElement();

					for(let y=0;y<16;y++){
						chunk.cells[y]=[];
						for(let x=0;x<16;x++){
							const thisCell = message.data.chunk.map[y*16+x];
							let toPut = new Cell(thisCell&0b001, chunk, x, y);
							if(thisCell&0b010) toPut.revealed=true;
							if(thisCell&0b100) toPut.flagged=true;
							chunk.cells[y][x]=toPut;
						}
					}

					chunk.loadInElement();

					for(let y=-1;y<=1;y++){
						for(let x=-1;x<=1;x++){
							if((y!=0&&x!=0)||y==x) continue;
							const maybeChunk=chunks[(message.data.x+x)+","+(message.data.y+y)];
							if(maybeChunk){
								for(const row of maybeChunk.cells){
									for(const cell of row){
										if((cell.x==0||cell.x==15||cell.y==0||cell.y==15)&&cell.count!=undefined){
											cell.count=undefined;
											cell._updateVisual();
										}
									}
								}
							}
						}
					}
				}break;
				case "score":{
					scoreElement.textContent = "Score: "+message.data;
				}break;
				case "gameover":{
					let fakescore = BigInt(message.data.fakescore);
					let realscore = BigInt(message.data.score);
					console.log("Score: "+fakescore+"\nReal Score: "+realscore+"\nBad Flags: "+
						((fakescore-realscore)/20n));
				}break;
			}
		}
	});

	const chunks = {};
	function getChunk(x,y){
		let toReturn = chunks[x+","+y];
		if(toReturn) return toReturn;

		toReturn = new Chunk(x,y);
		chunks[x+","+y]=toReturn;
		return toReturn;
	}
	async function waitForChunk(chunk){
		if(chunk.loaded) return chunk;
		await chunk.loadedPromise;
		return chunk;
	}

	recalcBoards(parseFloat(getComputedStyle(board).getPropertyValue("--offsetX")),
			parseFloat(getComputedStyle(board).getPropertyValue("--offsetY")));

	/*
	function restart(){
		boardOverlay.style.opacity=0;
		boardOverlay.style["pointer-events"]="none";

		recalcBoards(parseFloat(getComputedStyle(board).getPropertyValue("--offsetX")),
			parseFloat(getComputedStyle(board).getPropertyValue("--offsetY")));
	}
	*/
</script>