<!--TITLE-->register
<!--HEAD-->
<style type="text/css">
	:root{
		color: var(--cream);
	}
	.submitButton{
		width:fit-content;
		color: var(--button-color2);
		margin:1rem 0.5rem 0 0.5rem;
		background-color: var(--cream);
		padding:0.5rem 1rem;
		cursor:pointer;
		border-radius: 0.7rem;
		box-shadow: inset 0 -0.2rem 0.3rem #ccc8bb;
		display: inline-block;
	}
	.field{
		display:inline-block;
		line-height: 1rem;
		text-align: left;
		width:max(40%, 10rem);
	}
	.field label{
		display: block;
	}
</style>
<!--BODY-->
<div style="height:3rem;"></div>
<div style="
		background:var(--button-color2);;
		width:min(calc(100% - 6rem),calc(20rem + 30%));
		margin:auto;
		padding:3rem;
		border-radius: 1rem;
		">
	<div style="
			font-size: 3rem;
			text-align: center;
			margin-bottom: 1rem;
			width: 100%;">
		infinisweeper
	</div>
	<form onsubmit="return login()&&false;">
		<div style="text-align:center;">
			<span class="field">
				<label for="username" style="margin-right:1rem;">Username:</label>
				<input type="text" name="username" placeholder="username" id="login-username">
			</span>
			<span class="field">
				<label for="password" style="margin-right:1rem;">Password:</label>
				<input type="password" name="password" placeholder="password" id="login-password">
			</span>
			<span class="field">
				<label for="confpass" style="margin-right:1rem;">Confirm Password:</label>
				<input type="password" name="confpass" placeholder="password" id="login-confpass">
			</span>
			<span class="field">
				<label for="email" style="margin-right:1rem;">Email:</label>
				<input type="text" name="email" placeholder="email@example.com" id="login-email">
			</span>
		</div>
		<div style="margin:auto; text-align:center;">
			<span class="submitButton" tabindex=0 onclick="register()">Register</span>
		</div>
		<input type="submit" name="" style="display:none">
	</form>
</div>

<script type="text/javascript">
	const username = document.getElementById("login-username");
	const password = document.getElementById("login-password");
	const email = document.getElementById("login-email");
	function register(){
		console.log(`registering\nusername:${username.value} password:${password.value} email:${email.value}`);
	}
</script>