<!--TITLE--><!--VAR username-->
<!--HEAD-->

<!--BODY-->
<span style="
		font-size:2.5rem;
	"><!--VAR username-->'s stats</span>
<ul id="data">
	<li>Total score: <span id="tScore"></span></li>
	<li>Total cells revealed: <span id="tRevealed"></span></li>
	<li>Total flags placed: <span id="tFlags"></span></li>
	<li>Total mines exploded: <span id="tMines"></span></li>
	<li>Highest scoring run: <span id="highscore"></span></li>
</ul>

<script type="text/javascript">
	fetch("/api/user/<!--VAR username-->").then(data=>data.json()).then(data=>{
		for(const entry of Object.entries(data)){
			let element = document.getElementById(entry[0]);
			if(!element) continue;
			element.textContent = entry[1];
		}
	}).catch(()=>{
		document.getElementById("data").textContent="No user found";
	});
</script>