@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');

:root{
  --background-color: #fff8ee;
  --button-color: #5566cc;
  --button-color2: #3344aa;
}

body{
  margin:1rem max(10%, 1rem);
  font-family: Palanquin Dark, sans-serif;
  background-color:var(--background-color);
  min-height:100vh;
}
#navbar{
  padding:0.3rem 1rem 0 1rem;
  margin-bottom: 1rem;
  color:white;
}
#navbar > span{
  background:var(--button-color);
  border-radius:0.5rem;
  display:inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 0.3rem;
  cursor:pointer;
  box-shadow: inset 0 -5rem 0.5rem var(--button-color2);
  
  transition: box-shadow 0.1s;
}
#navbar > span:hover{
  box-shadow: inset 0 -0.2rem 0.5rem var(--button-color2);
}
#navbar-button{
  display:none;
}