html{
  font-size:18px;
}

#navbar{
  padding:1rem;
  z-index:999;

  left:-100%;
  top:0;
  position:absolute;
  background: var(--cream);
  box-shadow: 0 0 0.5rem #bbb8aa;
  border-radius: 0 0 1rem 0;

  transition: left 0.5s;
}
.navbutton{
  display:block;
}
#navbar-hamburger{
  display: inline-block;
  width:3rem;
  height:3rem;
  background:var(--button-color);
  border-radius: 0.5rem;
  cursor:pointer;

  box-shadow: inset 0 -5rem 0.5rem var(--button-color2);
  transition: box-shadow 0.1s;
}
#navbar-hamburger:hover{
  box-shadow: inset 0 -1rem 0.5rem var(--button-color2);
}

.hide-mobile{
  display:none !important;
}